SECRET_KEY='jvnlsiugdgs'
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
ACCESS_TOKEN_LIFETIME=5
REFRESH_TOKEN_LIFETIME=30
DATABASE_URL=sqlite:///db.sqlite3
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_HOST_USER=user@example.com
EMAIL_HOST_PASSWORD=example_password
DEFAULT_FROM_EMAIL=user@example.com
REDIS_URL=redis://127.0.0.1:6379/1
JWT_SECRET_KEY=change-me-in-production
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydb
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
