{% extends "base.html" %}

{% block title %}{{post.title}} - {{block.super}}{% endblock %}

{% block content %}
<article>
    <h1>{{post.title}}</h1>
    {% if post.image %}
    <img src="{{ post.image.url }}" alt="Обложка {{post.title}}" class="mb-3" height="150px" width="150px">
    {% endif %}
    <p class="text-muted">
        Опубликовано: {{post.created_at|date:"d.m.Y H:i"}}<br>
        Автор: {{post.author}}<br>
        Количество просмотров: {{post.views_count}}
    </p>
    <hr>
    <div class="post-content">
        {{post.content|linebreaksbr}}
    </div>
</article>

<div class="mt-4">
    <a href="{% url "blog:post_list" %}" class="btn btn-outline-info">К списку статей</a>
    <a href="{% url "blog:categories_list" %}" class="btn btn-outline-info">К списку категорий</a>
</div>

{% endblock %}
