{% extends "base.html" %}

{% block title %}Сброс пароля на сайте {{ site_name }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h1 class="mb-4 text-center">Перейдите по ссылке, чтобы задать новый пароль:</h1>
                    <div class="card text-center">
                        <p>
                            <a href="{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}">
                                Сбросить пароль
                            </a>
                        </p>
                        <p>Ваш логин: {{ user.get_username }}</p>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
